<h1>Phone: <%= @contact.phone_number() %></h1>
<h1>Type: <%= @contact.type() %></h1>
<h1>Birthday: <%= @contact.birthday() %></h1>
<h1>Year: <%= @contact.year() %></h1>

<a href="/">Return to Main Page</a>
