<h1>Phones</h1>

<h3>Add a contact to your phone book here:</h3>

<form action="/phones" method="post">
  <label for="name">Contact's name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Contact</button>
</form>

<ul>
    <% @phones.each() do |phone| %>
    <li><a href="/phones/<%= phone.id() %>"><%= phone.name() %></a></li>
    <% end %>
</ul>
